@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --body-color: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    --sidebar-color: #fff;
    --text-color: #000;
    --text-color-light: #707070;
    --color-hover: #417d7a;
    --toggle-color: #7c7c7c;
    --border-color: #d8d8d8;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    font-size: 100%;
    list-style-type: none;
    background: var(--body-color);
}

body.dark {
    --body-color: linear-gradient(to top, #3b3b3b 0%, #1f1e1e 52%, #181818 100%);
    --sidebar-color: #242526;
    --text-color: #fff;
    --text-color-light: #ccc;
    --color-hover: #417d7a;
    --toggle-color: #fff;
    --border-color: #4d4c4c;
}

/*==== Sidebar ====*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    z-index: 100;
    background: var(--sidebar-color);
    transition: var(--tran-05);
}

.sidebar.close {
    width: 73px;
}

.sidebar .logo {
    display: flex;
    align-items: center;
}

.sidebar .logo-image {
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .logo-image img {
    width: 45px;
    border-radius: 6px;
}

.sidebar .logo-name {
    font-size: 22px;
    font-weight: 700;
    color: var(--text-color);
    margin-left: 16px;
    white-space: nowrap;
    transition: var(--tran-05);
}

.sidebar.close .logo-name {
    opacity: 0;
    pointer-events: none;
}

/*==== Main Menu ====*/
.sidebar .main-menu {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-menu li {
    list-style: none;
}

.main-menu li a {
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover::before {
    content: '';
    position: absolute;
    left: -7px;
    height: 45px;
    width: 5px;
    background-color: var(--color-hover);
}

.main-menu li a i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-light)
}

.main-menu .link-name {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color-light);
    transition: var(--tran-05);
}

.sidebar.close .link-name {
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: var(--color-hover);
}

.main-menu .botton-content {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

/*==== Dark Mode Switch ====*/
.main-menu .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.main-menu .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--sidebar-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch::before {
    left: 20px;
}

/*==== Content Dashboard ====*/
.dashboard {
    position: relative;
    left: 250px;
    background-color: var(--body-color);
    height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

.sidebar.close~.dashboard {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    transition: var(--tran-05);
}

.sidebar.close~.dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
}

/*==== Sidebar Toggle ====*/
.dashboard .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}