@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    /*==== colors ====*/
    --bg-color: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    --sidebar-color: #242424;
    --primary-color: #417d7a;
    --text-color: #fff;
    --menu-text-color: #808080;
    --hover-color: #3f3f3f;
    --toggle-color: #7c7c7c;
    --divider-color: #d8d8d8;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

    --box-shadow: 0 2rem 3rem #cecece
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    font-size: 100%;
    list-style-type: none;
    background: var(--bg-color);
}

body.dark {
    --bg-color: linear-gradient(to top, #3b3b3b 0%, #1f1e1e 52%, #181818 100%);
    --sidebar-color: #242526;
    --text-color: #fff;
    --menu-text-color: #808080;
    --hover-color: #3f3f3f;
    --toggle-color: #fff;
    --divider-color: #4d4c4c;
}

/*==== Sidebar ====*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    z-index: 100;
    background: var(--sidebar-color);
    transition: var(--tran-05);
}

.sidebar.close {
    width: 73px;
}

.sidebar .logo {
    display: flex;
    align-items: center;
}

.sidebar .logo-image {
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .logo-image img {
    width: 45px;
    border-radius: 6px;
}

.sidebar .logo-name {
    font-size: 22px;
    font-weight: 700;
    margin-left: 16px;
    white-space: nowrap;
    color: var(--text-color);
    transition: var(--tran-05);
}

.sidebar.close .logo-name {
    opacity: 0;
    pointer-events: none;
}

/*==== Main Menu ====*/
.sidebar .main-menu {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-menu li {
    list-style: none;
}

.main-menu li a {
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.nav-links li a.active {
    border-radius: 3px;
    background-color: var(--hover-color);
}

.nav-links li a.active::before {
    content: '';
    position: absolute;
    border-radius: 3px 0 0 3px;
    height: 50px;
    width: 5px;
    background-color: var(--primary-color);
    transition: var(--tran-05);
}

.sidebar.close .nav-links li a.active::before {
    opacity: 0;
}

.main-menu li a .icon {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--menu-text-color);
    transition: var(--tran-05);
}

.nav-links li a.active .icon {
    color: var(--primary-color);
}

.main-menu .link-name {
    font-size: 18px;
    font-weight: 400;
    color: var(--menu-text-color);
    transition: var(--tran-05);
}

.sidebar.close .link-name {
    opacity: 0;
    pointer-events: none;
}

.nav-links li a.active .link-name {
    color: var(--text-color);
}

.nav-links li a:hover .icon,
.nav-links li a:hover .link-name {
    transform: translateY(-2px);
    color: var(--primary-color);
}

.main-menu .bottom-content {
    padding-top: 10px;
    border-top: 1px solid var(--divider-color);
}

/*==== Dark Mode Switch ====*/
.main-menu .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.main-menu .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    transition: var(--tran-03);
    background-color: var(--sidebar-color);
}

body.dark .switch::before {
    left: 20px;
}

/*==== Content Dashboard ====*/
.dashboard {
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
    transition: var(--tran-05);
    background-color: var(--bg-color);
}

.sidebar.close~.dashboard {
    left: 73px;
    width: calc(100% - 73px);
}

/*==== Dashboard Top ====*/
.dashboard .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    padding: 10px 14px;
    transition: var(--tran-05);
    background-color: var(--text-color);
}

.sidebar.close~.dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
}

/*==== Sidebar Toggle btn ====*/
.dashboard .sidebar-toggle {
    cursor: pointer;
    font-size: 30px;
    color: #000;
    transition: var(--tran-04);
}

.dashboard .sidebar-toggle:hover {
    transform: scale(1.3);
    transform-origin: center;
}

/*============================*/
.dashboard .title {
    font-size: 24px;
    font-weight: 800;
    margin-left: 30px;
    color: var(--sidebar-color);
}

.dashboard .left-content {
    display: flex;
    align-items: center;
}

.dashboard .right-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12em;
}

.right-content .display-date {
    font-size: 16px;
}

.right-content .user {
    font-size: 50px;
    color: var(--sidebar-color);
}

/*==== Dashboard Overview ====*/
.dashboard .overview {
    width: 100%;
    margin-top: 80px;
    display: flex;
}

.overview .right-overview {
    width: 50%;
    margin-left: 30px;
}

/*==== Boxes ====*/
.overview .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overview .boxes .box {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    width: calc(100% / 3 - 20px);
    padding: 25px 20px;
    background-color: var(--text-color);
    box-shadow: var(--box-shadow);
    transition: var(--tran-05);
}

.overview .boxes .box:hover {
    box-shadow: none;
}

.boxes .box-icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.box-icons .icon {
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 2rem;
    background-color: var(--menu-text-color);
}

/* ==== Box more btn ==== */
.box-icons .more {
    cursor: pointer;
    font-size: 20px;
    align-items: flex-start;
    transition: var(--tran-04);
}

.box-icons .more:hover {
    transform: scale(1.4);
    transform-origin: center;
    box-shadow: var(--box-shadow);
}

/*========================*/

.boxes .box-text {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
}

.boxes .box-text .text {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
}

.boxes .box-text .number {
    font-size: 24px;
    font-weight: 800;
}

/*==== History ====*/
.overview .history {
    margin-top: 30px;
    border-radius: 4px;
    padding: 20px;
    background-color: var(--text-color);
    box-shadow: var(--box-shadow);
    transition: var(--tran-05);
}

.overview .history:hover {
    box-shadow: none;
}

.history div {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history .text {
    font-size: 20px;
    font-weight: 700;
}

/* ==== Open history btn ==== */
.history .open-history {
    cursor: pointer;
    font-size: 20px;
    transition: var(--tran-05);
}

.history .open-history:hover {
    transform: scale(1.4);
    transform-origin: center;
}

/* ==== Table ==== */
.history table {
    margin-top: 16px;
    width: 100%;
    text-align: center;
    /* border-collapse: collapse; */
    border-spacing: 0;
}

.history table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid #d9d9d9;
    color: #727272;
}

.history table tbody tr:last-child td {
    border: none;
}

/*==== Activity ====*/
.overview .activity {
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
}

.activity .wrapper canvas#line-chart {
    width: 100%;
    height: 500px;
}

.activity .text {
    font-size: 20px;
    font-weight: 700;
}